:root {
    --color-primary: #FAE7C9;
    --color-second: #FFF2D8;
    --color-nav: #f7f1e3;
    --color-letters: #706233:
}

body{
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

div > h3 {
    font-size: 45px;
}

div  > h1 {
    font-size: 30px;
}
.dropdown {
    list-style: none;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    padding: 0px;
    margin-bottom: 10px;
}


.dropdown_sub {
    overflow: hidden;   
    padding: 0%;
}

.dropdown_li {
     list-style: none;
     align-content: center;
     justify-content: center;
     margin-left: auto;
}



.dropdown_check {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
}

.dropdown_list:has(:checked){
    --rows: 1fr;
}
.dropdown_list {
    position: relative
}
.dropdown_icon {
    width: 25px;
    height: 25px;
}

.dropdown_content {
    display: grid;
    grid-template-rows: var(--rows, 0fr);
    transition: .3s grid-template-rows;
}


.dropdown_info {
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

.empleados> section>img {
    width: 250px;
    height: 200px;
    background-color:var(--color-primary);
    margin: 10px;
    border-radius: 5px;
    
}

.information {
    width: 300px;
    background-color:var(--color-primary);
    text-align: center;
    flex-wrap: wrap;
    border-radius: 20px;
    margin: 20px;
    align-content: center;

}



.empleados {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    padding:10px 20px 10px 20px;
    background-color: var(--color-second);
    align-content: space-around;
    justify-content: space-around;
}


a{
    padding:30px;
    text-decoration: none;
    color: black;
    
}

.nuestra-historia {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    padding: 20px;
    margin: 0px 10px 0px 10px;
    background-color: var(--color-primary);
}

.nuestra-historia > p {
    flex-wrap: wrap;
}
.container {
    background-color: var(--color-second);
}

.nuestra-vision {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 10%;
    padding: 20px;
    margin: 30px 10px 0px 10px;
    background-color: var(--color-primary);
}