:root {
    --color-primary: #FAE7C9;
    --color-second: #FFF2D8;
    --color-nav: #f7f1e3;
    --color-letters: #392f0d;
    --color-button: #B0926A;
}

body {
    background-color: var(--color-second);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#formularioRegistro {
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 500px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

h1 {
    text-align: center;
    color: var(--color-letters);
}

label {
    text-align: center;
    display: block;
    margin-top: 10px;
    color: var(--color-letters);
}

input[type="email"],
input[type="text"],
input[type="date"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--color-letters);
    border-radius: 5px;
}

input[type="submit"] {
    cursor: pointer;
    color: var(--color-second);
    background-color: var(--color-button);
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;    
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover,
button:hover {
    background-color: var(--color-letters);
}

.error-text {
    color: red;
    font-size: 0.9em;
}

.form-group {
    width: 270px;
    text-align: center;
    font-size: 22px;
    color: var(--color-letters);
}

.back-link {
    text-decoration: none;
    cursor: pointer;
    color: var(--color-letters);
    margin-bottom: 20px;
}

.styled-link {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 15px;
    background-color: var(--color-button);
    color: var(--color-second);
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.styled-link:hover {
    background-color: var(--color-letters);
}